*, ::before, ::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: inherit;
    line-height: 1.5;
}

body {
    background-image: url('../assets/images/library-bg_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    min-height: 100vh;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    margin-top: 0;
    padding: 10px;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
}

#new-book-btn {
   margin-right: 0;
   position: relative;
   left: 85%;
   padding: 10px;
   border-radius: 25px;
   font-size: 1.2rem;
   font-weight: 700;
   background-color: #03b103;
   color: #ffffff;
   
}